*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BEGINNING OF LANCER'S CONTRIBUTIONS */
:root{
    --pry-yellow: #FFBC01;
}

.html{
    font-size: 10px;
}

main{
    background-color: #121212;
    padding: 1rem 0;
}
.top-main{
    width: 91vw;
    background-color: black;
    margin: auto;
}

.top-main-flex{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 1rem;
}

.top-main div{
    text-align: center;
}

.circle{
    border-radius: 50%;
    background-color: var(--pry-yellow);
    color: #fff;
    width: 3.5rem;
    height: 3.5rem;
}

.circle span{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 1rem;
   font-size: 1.3rem; 
}

.middle-main{
    color: #fff;
    width: 91vw;
    margin: auto;
}

.speaker-head{
    text-align: center;
    margin: 2rem 0;
}

.speaker-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.speaker-child h2{
    margin: .4rem 0;
}

.speaker-child p{
    margin-bottom: 1rem;
    font-size: .8rem;
}

.gallery{
    color: #fff;
    margin-top: 4rem;
}

.gallery-head{
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(0, auto));
    gap: .5rem;
    width: 91vw;
    margin: 3rem auto 0 auto;
  }
  
  .img-div {
    width: 100%;
    overflow: hidden;
  }
  
  .img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-btn{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 9%;
    margin: auto;
    border: 1px solid var(--pry-yellow);
    border-radius: .6rem;
    padding: .5rem 1rem;
  }

  .gallery-btn span{
    background-color: black;
    color: var(--pry-yellow);
    outline: 0;
    border: none;
  }

  .arrow-div img{
    width: 80%;
    margin-top: .3rem;
  }

  .nominee{
    color: #fff;
    margin-top: 4rem;
    width: 81vw;
    margin: 2rem auto;
    text-align: center;
  }

  .nominee-head p{
    margin: .2rem 0;
  }

  .nominee-btn{
    background-color: var(--pry-yellow);
    color: #fff;
    width: 10vw;
    text-align: center;
    border-radius: .35rem;
    margin: 2rem auto;
    padding: .5rem 1rem;
}

.nominee-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
}

.nominee-card{
    display: flex;
    flex-direction: column;
    border-top-right-radius: .6rem;
    border-top-left-radius: .6rem;
}

.nominee-card img{
    width: 100%;
    border-top-right-radius: .6rem;
    border-top-left-radius: .6rem;
}
.container{
    background-color: #fff;
    color: black;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}

.register-section{
    background-color: #122740;
    text-align: center;
}

.register-head{
    color: #fff;
}
/* ENDING OF LANCER'S CONTRIBUTIONS */
